<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

    <body>
    	<div class="container w_medium h_big"  layout:fragment="content">
  			<h4 th:text="#{label.menu.contratos}"></h4>
   			<div class="content">
   				<div class="form-row">
   					<div class="form-cel-20">
   						<label th:text="#{label.contrato}"></label>
   						<input type="text" th:field="${contrato.nome}" disabled="disabled" class="components-form" style="width: 95%;"/>	
   					</div>
   					<div class="form-cel-20">
   						<a class="btn" th:text="#{label.clausula.novo}" th:href="@{'/contrato/'+ ${contrato.id} +'/clausula/new'}"></a>	
   					</div>
   				</div>
	    		<div class="form-row">
	    			<div class="form-cel-100">
	    				<table style="width: 60%; margin-left:20%; margin-bottom: 20px;">
							<thead>
								<tr>
									<th th:text="#{label.clausula}"></th>
									<th th:text="#{label.texto}"></th>
									<th colspan="1"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${clausulas == null || clausulas.empty}">
									<td th:text="#{label.msg.registros.nao.encontrados}" colspan="3"></td>
								</tr>
								<tr th:each="clausula : ${clausulas}">
									<td th:text="${clausula.id}"></td>
									<td>
										<a class="link" th:text="${#strings.length(clausula.texto) > 10 ? (#strings.substring(clausula.texto, 0, 10)   + ' ...') : clausula.texto}" th:href="@{'/contrato/clausula/' + ${clausula.id}}"></a>
									</td>
									<td>
										<a class="link" th:text="#{label.paragrafos}" th:href="@{'/contrato/clausula/' + ${clausula.id} + '/paragrafo'}"></a>
									</td>
								</tr>
							</tbody>
						</table>
	    			</div>
				</div>
   			</div>
    	</div>
    </body>
</html>