<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div class="container w_big"  layout:fragment="content" style="height: 600px;">
  		<h4 th:text="#{label.titulo.aluno.agendamento}"></h4>
   		<div class="content">
   			<form method="post" th:action="@{/escala}" th:object="${filtro}">
   				<fieldset>
   					<legend th:text="#{label.filtros}"></legend>
	   				<input type="hidden" th:field="*{inicio}"/>
	   				<input type="hidden" th:field="*{fim}"/>
	   				<input type="hidden" th:field="*{navigation}">
	   				<div class="form-row">
						<div class="form-cel-20">
							<label class="components-form" th:text="#{label.matricula}">:</label> 
							<input type="text" th:field="*{matricula}" class="components-form" style="width: 65%;" /> 
						</div>
						<div class="form-cel-40">
							<label class="components-form" th:text="#{label.nome}">:</label> 
							<input type="text"  th:field="*{nome}" class="components-form" style="width: 89%;" />						
						</div>
						<div class="form-cel-30">
							<label class="components-form" th:text="#{label.veiculo}">:</label> 
							<select  th:field="*{veiculo}" style="width: 60%;">
								<option value="0">Selecione</option>
								<option th:each="veiculo : ${veiculos}" th:value=${veiculo.id} th:text="${veiculo}"></option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-cel-20">
							<label class="components-form" th:text="#{label.instrutor}">:</label> 
							<select  th:field="*{instrutor}">
								<option value="0">Selecione</option>
								<option th:each="instrutor : ${instrutores}" th:value=${instrutor.id} th:text="${instrutor.nome}"></option>
							</select>
						</div>
						<div class="form-cel-30"> 
							<label class="components-form" th:text="#{label.mesano}">:</label>
							<input type="text"  th:field="*{mesAno}"/>
						</div>
						<div class="form-cel-30"> 
							<button id="findUsuario" th:text="#{label.btn.buscar}"></button>
						</div>
					</div>
   				</fieldset>
			</form>
			<div class="form-row" th:if="${keys != null && !keys.empty}">
				<div class="form-cel-100">
				
					<div class="navigator">
				    	<a id="previous" href="#">&#9664;</a>
				        <a id="next" href="#">&#9654;</a>
				        <span style="font-weight: bold;" th:text="${'(' + #temporals.format(filtro.inicio, 'dd/MM/yyyy') + ' - ' + #temporals.format(filtro.fim, 'dd/MM/yyyy') + ')'}"></span>
					</div>
				
					<table id="tb-grade" style="width: 90%; margin-left: 5%; margin-bottom: 20px;">
						<thead>
							<tr style="background-color: #4f4f4f; ">
								<th style="color:#fff"></th>
								<th th:each="data : ${periodo}" th:text="${data}" style="text-align: center;color:#fff"></th>
							</tr>
						</thead>
						<tbody>
						<!-- 093.860.967-06 -->
							<tr th:each="horario : ${keys}">
								<td th:text="${horario}"></td>
								<td th:each="agendamento : ${grade.get(horario)}" th:class="${agendamento.processo != null ? 'agendado' : 'disponivel'}" style="text-align: center">
									<span th:if="${agendamento.processo != null}" th:text="${agendamento.processo.aluno.matricula}"></span>
									
									<a th:if="${agendamento.id != null && agendamento.processo.aluno.id == filtro.matricula}" 
									   th:text="#{label.desmarcar}" 
									   th:href="@{/escala/desmarcar(agendamentoId=${agendamento.id}, mesAno=${filtro.mesAno}, inicio=${#temporals.format(filtro.inicio, 'dd/MM/yyyy')})}" class="agendamento-link" ></a>
									
									<a th:if="${agendamento.processo == null}" 
									   th:text="#{label.agendar}" 
									   th:href="@{/escala/agendar(aluno=${aluno.id}, data=${agendamento.data}, veiculo=${agendamento.veiculo.id}, instrutor=${instrutor.id}, mesAno=${filtro.mesAno}, inicio=${#temporals.format(filtro.inicio, 'dd/MM/yyyy')})}" class="agendamento-link" ></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
   		</div>
	</div>	   		
</body>
</html>