<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div class="container w_normal h_normal"  layout:fragment="content">
  		<h4 th:text="#{label.instrutor}"></h4>
   		<div class="content">
   			<form method="post" th:action="@{/instrutor}" th:object="${instrutor}">
				<div class="form-row">
					<div class="form-cel-100">
					    <label class="components-form" th:text="#{label.nome}">:</label> 
						<input type="text" th:field="*{nome}" class="components-form" style="width: 95%;"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cel-100">
						<label class="components-form"  th:text="#{label.credencial}">:</label> 
					    <input type="text" th:field="*{credencial}" class="components-form" style="width: 95%;"/>
					</div>
				</div>
				<div class="form-row" style="height: 150px;">
					<div class="form-cel-100">
					    <label class="components-form" th:text="#{label.validade}">:</label> 
						<input  type="text" th:field="*{validadeCredencial}" class="components-form data" style="width: 95%;"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-control" style="float: right;padding: 10px;">
						<input type="submit" th:value="#{label.btn.gravar}"/>
					</div>
				</div>
			</form>
   		</div>
   	</div>
</body>
</html>