<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
     <title th:text="#{label.login}"></title>
      
      	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.css}" />
		<link rel="stylesheet" th:href="@{/css/reset.css}" href="../../css/reset.css" />
		<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />	
   </head>
   <body>
    <div class="wrapper">
        <header>
    		<div class="login_header"></div>   
        </header>
        <section>
            <div class="main">
    			<h4 th:text="#{nome}"></h4>
                <form name="f" action="/gestao-cfc/j_spring_security_check" method="POST">
      				<input type="text" class="form-login" name="username" th:placeholder="#{label.usuario}" value="">
      				<input type="password"  class="form-login" name="password" th:placeholder="#{label.senha}">
                 	<label th:text="#{label.lembrar.senha}"></label>
      				<input type="checkbox" name="remember-me">
      				<input name="submit" class="form-login" type="submit" th:value="#{label.login}">
                 </form>
            </div>
        </section>
    </div>
	<script src="/gestao-cfc/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/gestao-cfc/webjars/jquery-mask-plugin/1.13.4/dist/jquery.mask.min.js"></script>
	<script src="/gestao-cfc/webjars/jquery-ui/1.12.0/jquery-ui.min.js"></script>
	<script src="/gestao-cfc/webjars/jquery-maskmoney/3.0.2/dist/jquery.maskMoney.js"></script>
	<script src="/gestao-cfc/js/ui.datepicker-pt-BR.js"></script>
	<script src="/gestao-cfc/js/jquery.ui.monthpicker/jquery.ui.monthpicker.js"></script>
	<script src="/gestao-cfc/js/main.js"></script> 
</body>
</html>
