<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

    <body>
    	<div class="container w_big h_big"  layout:fragment="content">
  			<h4 th:text="#{label.processos}"></h4>
   			<div class="content">
   				<div class="form-row">
   					<div class="form-cel-30">
   					    <label th:text="#{label.matricula}"></label>
   						<input th:value="${aluno.matricula}" disabled="disabled" style="width: 72%;"/>
   					</div>
   					<div class="form-cel-50">
   						<label th:text="#{label.nome}"></label>
   						<input th:value="${aluno.nome}" disabled="disabled" style="width: 85%;"/>
   					</div>
   					<div class="form-cel-20">
   						<a class="btn" th:text="#{label.processo.novo}" th:href="@{'/aluno/' + ${aluno.id} +'/processos/new/'}"></a>	
   					</div>
   				</div>
	    		<div class="form-row">
	    			<div class="form-cel-100">
	    				<table style="width: 90%; margin-left: 5%; margin-bottom: 20px;">
							<thead>
								<tr>
									<th th:text="#{label.servico}"></th>
									<th th:text="#{label.categoria}"></th>
									<th th:text="#{label.renach}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${processos == null || processos.empty}">
									<td th:text="#{label.msg.registros.nao.encontrados}" colspan="3"></td>
								</tr>
								<tr th:each="processo : ${processos}">
									<td>
										<a th:text="${processo.servico.descricao}" th:href="@{'/aluno/processo/'+${processo.id}+'/edit'}"></a>
									</td>
									<td th:text="${processo.categoria.descricao}"></td>
									<td th:text="${processo.renach}"></td>
									<td th:text="${processo.status.descricao}"></td>
								</tr>
							</tbody>
						</table>
	    			</div>
				</div>
   			</div>
    	</div>
    </body>
</html>