<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="#{titulo}"></title>
	
	<!-- this is header-css -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/material-design-lite/1.3.0/material.min.css}" /> -->
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.3.1/css/fontawesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/reset.css}" href="../../css/reset.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body></body>
</html>
