<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  
  <header th:fragment="menu"  class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Gestão de CFC</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active">Matrículas</a>
          <a href="#features" class="mdl-layout__tab">Escala</a>
          <a href="#features" class="mdl-layout__tab">Financeiro</a>
          <a href="#features" class="mdl-layout__tab">Estatísticas</a>
        </div>
      </header>
</body>
</html>

