<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
	<header th:fragment="header">
		<div class="header">
			<div class="logo">
				<span class="title" th:text="#{nome}"></span>
			</div>
			<div class="user" sec:authorize="isAuthenticated()">
				<span th:text="#{label.saudacao}"></span><span sec:authentication="name">Name</span> - <a th:href="@{/logout}" th:text="#{label.logout}"></a>
			</div>
		</div>
		
			<ul class="menu" sec:authorize="isAuthenticated()">
				<li>
					<span th:text="#{label.aluno}"></span>
					<ul class="submenu">
						<li>
							<a th:href="@{/aluno}" th:text="#{label.menu.matriculas}"></a>
						</li>
						<li>
						    <a th:href="@{/escala}" th:text="#{label.menu.escalas}"></a>
						</li>
					</ul>
				</li>
				<li>
					<span th:text="#{label.administrativo}"></span>
					<ul class="submenu">
						<li>
						  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/contrato}" th:text="#{label.menu.contratos}"></a>
						</li>
						<li>
						  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/pacote}" th:text="#{label.titulo.cadastro.pacote}"></a>
						</li>
						<li>
						  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/instrutor}" th:text="#{label.instrutores}"></a>
						</li>
						<li>
						  <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/veiculo}" th:text="#{label.veiculos}"></a>
						</li>
					</ul>
				</li>
				<li><span th:text="#{label.financas}"></span></li>
			</ul>
	</header>

</body>
</html>
