<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div class="container"  layout:fragment="content">
  		<h4 th:text="#{label.titulo.aluno.agendamento}"></h4>
   		<div class="content">
   			<form method="post" th:action="@{/escala}" th:object="${filtro}">
   				<div class="form-row">
					<div class="form-cel-100" style="margin-left: 5%; margin-bottom: 10px;">
						<label class="components-form">Matricula:</label> 
						<input type="text" th:field="*{matricula}" class="components-form" autocomplete="off" style="width: 10%;" /> 
						<label class="components-form">Nome:</label> 
						<input type="text"  th:field="*{nome}" disabled="disabled" class="components-form" autocomplete="off" style="width: 30%;" />						
					</div>
				</div>
				<div class="form-row">
					<div class="form-cel-100" style="margin-left: 5%; margin-bottom: 10px;">
						<label class="components-form">Veiculos:</label> 
						<select  th:field="*{veiculo}"  disabled="disabled">
							<option value="0">Selecione</option>
							<option th:each="veiculo : ${veiculos}" th:value=${veiculo.id} th:text="${veiculo}"></option>
						</select> 
						<label class="components-form">Mes/Ano</label>
						<input type="text"  th:field="*{mesAno}" disabled="disabled"/>
						<button id="findUsuario">Buscar</button>
					</div>
   				</div>
			</form>
			<div class="form-row" th:if="${keys != null && !keys.empty}">
				<div class="form-cel-100">
					<table id="tb-grade" style="width: 90%; margin-left: 5%; margin-bottom: 20px;">
						<thead>
							<tr style="background-color: #000">
								<th></th>
								<th th:each="data : ${periodo}" th:text="${data}" style="text-align: center;"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="horario : ${keys}">
								<td th:text="${horario}"></td>
								<td th:each="agendamento : ${grade.get(horario)}" style="text-align: center">
									<a class="" th:text="${agendamento.processo != null ? agendamento.processo.aluno.matricula : ''}" href="#"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
   		</div>
	</div>	   		
</body>
</html>