<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

    <body>
    	<div class="page-content"  layout:fragment="content"  style="width:100%;">
	    	<div class="mdl-card"  style="width: 90%;margin-left: 6%;">
			    <div class="mdl-layout-spacer"></div>
	    		<div class="mdl-card__title">
	    			<div class="mdl-card__title-text">Titulo</div>
	    		</div>
	    		<div class="mdl-card__supporting-text">
				    This text might describe the photo and provide further information, such as where and
				    when it was taken.
				</div>
			    <div class="mdl-layout-spacer"></div>
			</div>
    	</div>
    	
    </body>
</html>