<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	    <title th:text="#{titulo}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<!-- this is header-css -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.3.1/css/fontawesome.min.css}"/>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<link rel="stylesheet" th:href="@{/css/reset.css}" href="../../css/reset.css" />
		<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	</head>
	<body>
		<div class="wrapper">
		  <header th:replace="fragments/header :: header"></header>
		  <section>
			<div layout:fragment="content"></div>
		  </section>
		  <footer th:replace="fragments/footer :: footer"></footer>
		</div>
		<div id="dialog-alert" th:if="${!message.messages.empty}" th:attr="title=${message.title}">
			<p th:each="msg : ${message.messages}" th:text="${msg}"></p>
		</div>
	</body>
	<!-- <script src="/gestor/webjars/material-design-lite/1.3.0/material.min.js"></script> -->
	<script src="/gestao-cfc/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/gestao-cfc/webjars/jquery-mask-plugin/1.13.4/dist/jquery.mask.min.js"></script>
	<script src="/gestao-cfc/webjars/jquery-ui/1.12.0/jquery-ui.min.js"></script>
	<script src="/gestao-cfc/webjars/jquery-maskmoney/3.0.2/dist/jquery.maskMoney.js"></script>
	<script src="/gestao-cfc/webjars/font-awesome/5.3.1/js/fontawesome.min.js"></script>
	<script src="/gestao-cfc/js/ui.datepicker-pt-BR.js"></script>
	<script src="/gestao-cfc/js/jquery.ui.monthpicker/jquery.ui.monthpicker.js"></script>
	<script src="/gestao-cfc/js/main.js"></script>
</html>
