<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	
   <head>
      <title th:text="#{label.login}"></title>
   </head>
   <body>
     <div class="wrapper">
     	<div class="container medium"  layout:fragment="content">
  			<h4>Enter user name and password</h4>
	     	<div class="content">
		      <h1 th:text="#{label.login}"></h1>
		      <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
		         <div class="form-row">
		            <div class="form-cel-100">
		               <label>User:</label>
		               <input type='text' name='username' value=''>
		            </div>
		         </div>
		         <div class="form-row">
		            <div class="form-cel-100">
		               <label>Password:</label>
		               <input type='password' name='password' />
		            </div>
		         </div>
		         <div class="form-row">
		         	<div class="form-cel-100">
		               <label>Remember Me?</label>
		               <input type="checkbox" name="remember-me" />
		            </div>            
		         </div>
		         <div class="form-row">
		         	<div class="form-cel-100">
		               <input name="submit" type="submit" value="submit" />
		            </div>
		         </div>
		      </form>
	     	</div>
	     </div>
     </div>
       
      <!-- /login?error=true -->
      <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">
         Login Failed!!!<br />
         Reason :
         <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
            th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
      </div>
       
      <br>
      Username/pass:
      <ul>
        <li>dbuser1/123</li>
        <li>dbadmin1/123</li>
      </ul>  
       
   </body>
    
</html>