<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<!-- 

45 teoricas
20 praticas
5 simulador

950.00 a vista
4x 300
 -->

<body>
	<div class="container w_normal h_normal"  layout:fragment="content">
  		<h4 th:text="#{label.pacote.novo}"></h4>
   		<div class="content">
   			<form method="post" th:action="@{/pacote}" th:object="${pacote}">
				<div class="form-row">
					<div class="form-cel-100">
					    <label class="components-form" th:text="#{label.pacote}">:</label> 
						<input type="text" th:field="*{nome}" class="components-form" style="width: 95%;"/>
					</div>
				</div>
				<div class="form-row" style="height: 64px;">
					<fieldset style="width: 93%;">
						<legend th:text="#{label.quantidade.aulas}"></legend>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.aulas.praticas}">:</label> 
							<input type="number" th:field="*{totalAulasPraticas}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.aulas.teoricas}">:</label> 
							<input type="number" th:field="*{totalAulasTeoricas}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.aulas.simulador}">:</label> 
							<input type="number" th:field="*{totalAulasSimulador}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.simulados}">:</label> 
							<input type="number" th:field="*{totalSimulados}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
					</fieldset>
				</div>
				<div class="form-row">
					<div class="form-cel-20">
					    <label class="components-form"  th:text="#{label.valor.vista}">:</label> 
						<input type="text" th:field="*{valor}" class="components-form money" autocomplete="off"  style="width: 88%;"/>
					</div>
					<div class="form-cel-20">
					    <label class="components-form"  th:text="#{label.valor.parcelado}">:</label> 
						<input type="text" th:field="*{valorParcelado}" class="components-form money" autocomplete="off"  style="width: 88%;"/>
					</div>
					<div class="form-cel-20">
					    <label class="components-form"  th:text="#{label.total.parcelas}">:</label> 
						<input type="number" th:field="*{numeroMaximoParcelas}" class="components-form money" autocomplete="off"  style="width: 88%;"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cel-25">
					    <label class="components-form"  th:text="#{label.data.inicio}">:</label> 
						<input type="text" th:field="*{dataInicio}" class="components-form data" autocomplete="off"  style="width: 70%;"/>
					</div>
					<div class="form-cel-25">
					    <label class="components-form"  th:text="#{label.data.fim}">:</label> 
						<input type="text" th:field="*{dataFim}" class="components-form data" autocomplete="off"  style="width: 70%;"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-control" style="float: right;padding: 10px;">
						<input type="submit" th:value="#{label.btn.gravar}"/>
					</div>
				</div>
			</form>
   		</div>
   	</div>
</body>
</html>