<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<!-- 

45 teoricas
20 praticas
5 simulador

950.00 a vista
4x 300
 -->

<body>
	<div class="container w_normal h_normal"  layout:fragment="content">
  		<h4 th:text="#{label.pacote.novo}"></h4>
   		<div class="content">
   			<form method="post" th:action="@{/pacote}" th:object="${pacote}">
				<div class="form-row">
					<div class="form-cel-100">
					    <label class="components-form" th:text="#{label.pacote}">:</label> 
						<input type="text" th:field="*{nome}" class="components-form" style="width: 95%;"/>
					</div>
				</div>
				<div class="form-row" style="height: 64px;">
					<fieldset style="width: 93%;">
						<legend th:text="#{label.quantidade.aulas}"></legend>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.aulas.praticas}">:</label> 
							<input type="number" th:field="*{totalAulasPraticas}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.aulas.teoricas}">:</label> 
							<input type="number" th:field="*{totalAulasTeoricas}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.aulas.simulador}">:</label> 
							<input type="number" th:field="*{totalAulasSimulador}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
						<div class="form-cel-25">
						    <label class="components-form"  th:text="#{label.total.simulados}">:</label> 
							<input type="number" th:field="*{totalSimulados}" class="components-form" autocomplete="off"  style="width: 70%;"/>
						</div>
					</fieldset>
				</div>
				<div class="form-row">
					<div class="form-cel-25">
					    <label class="components-form"  th:text="#{label.data.inicio}">:</label> 
						<input type="text" th:field="*{dataInicio}" class="components-form data" autocomplete="off"  style="width: 70%;"/>
					</div>
					<div class="form-cel-25">
					    <label class="components-form"  th:text="#{label.data.fim}">:</label> 
						<input type="text" th:field="*{dataFim}" class="components-form data" autocomplete="off"  style="width: 70%;"/>
					</div>
					<div class="form-cel-20">
					    <label class="components-form"  th:text="#{label.valor}">:</label> 
						<input type="text" th:field="*{valor}" class="components-form money" autocomplete="off"  style="width: 88%;"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-control" style="float: right;padding: 10px;">
						<input type="submit" th:value="#{label.btn.gravar}"/>
					</div>
				</div>
				<!-- <div class="form-row">
						<div class="form-cel-100">
							<label class="components-form">Valor total:</label> 
							<input id="valorTotal" type="text">
						</div>
					</div>
               		<div class="form-row">
						<div class="form-cel-20">
							<label class="components-form">Tipo de pagamento:</label> 
							<select id="tipoPagamento" class="components-form" style="width: 95%;">
						    	<option th:each="tipoPagamento : ${T(br.com.cfc.gestor.model.enuns.TipoPagamentoEnum).values()}" 
						    	        th:value="${tipoPagamento}" th:text="${tipoPagamento.descricao}"
						    	        th:selected="${tipoPagamento == CARNE}"></option>
							</select>
						</div>
						<div class="form-cel-20">
							<label class="components-form">Forma de pagamento:</label> 
							<select id="formaPagamento" class="components-form" style="width: 95%;">
								<option th:each="formaPagamento : ${T(br.com.cfc.gestor.model.enuns.FormaDePagamentoEnum).values()}" 
								        th:value="${formaPagamento}" th:text="${formaPagamento.descricao}"
								        th:selected="${formaPagamento == A_VISTA}"></option>
							</select>
						</div>
						<div class="form-cel-20">
							<label class="components-form">Número de parcelas:</label> 
							<input id="quantidade" type="text" style="width: 90%;">
						</div>
						<div class="form-cel-30">
							<label class="components-form">Valor parcela:</label> 
							<div>
								<input id="valorParcela" type="text">
								<button id="btnGerarPagamento">Gerar</button>
							</div>
						</div>
					</div>
               
               		<table id="tb-pagamentos" style="width: 100%; margin-bottom: 20px; margin-top: 20px;">
						<thead>
							<tr>
								<th th:text="#{label.parcela}"/>
								<th th:text="#{label.vencimento}"/>
								<th th:text="#{label.tipo.pagamento}"/>
								<th th:text="#{label.forma.pagamento}"/>
								<th th:text="#{label.valor}"/>
								<th th:text="#{label.status}"/>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${pagamentos == null || pagamentos.empty}">
								<td colspan="6" th:text="#{label.msg.registros.nao.encontrados}"></td>
							</tr>
							<tr th:each="pagamento,iter : ${pagamentos}">
								<td th:text="${iter.index}"></td>
								<td th:text="${pagamento.dataVencimento}"></td>
								<td th:text="${pagamento.tipoPagamento.descricao}"></td>
								<td th:text="${pagamento.formaPagamento.descricao}"></td>
								<td th:text="${pagamento.valor}"></td>
								<td th:text="${pagamento.dataPagamento == null ? 'Pendente' : 'Pago'}"></td>
							</tr>
						</tbody>
					</table>
               </div> -->
			</form>
   		</div>
   	</div>
</body>
</html>