<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

    <body>
    	<div class="container w_big h_big"  layout:fragment="content">
  			<h4 th:text="#{label.processos}"></h4>
   			<div class="content">
   				<div class="form-row">
   					<div class="form-cel-30">
   					    <label th:text="#{label.matricula}"></label>
   						<input th:value="${aluno.matricula}" disabled="disabled" style="width: 72%;"/>
   					</div>
   					<div class="form-cel-50">
   						<label th:text="#{label.nome}"></label>
   						<input th:value="${aluno.nome}" disabled="disabled" style="width: 85%;"/>
   					</div>
   					<div class="form-cel-20">
   						<a class="btn" th:text="#{label.pagamento.novo}" th:href="@{'/aluno/' + {idAluno} + '/pagamento/new'}"></a>	
   					</div>
   				</div>
	    		<div class="form-row">
	    			<div class="form-cel-100">
	    				<table style="width: 90%; margin-left: 5%; margin-bottom: 20px;">
							<thead>
								<tr>
									<th th:text="#{label.parcela}"></th>
									<th th:text="#{label.vencimento}"></th>
									<th th:text="#{label.valor}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${pagamentos == null || pagamentos.empty}">
									<td th:text="#{label.msg.registros.nao.encontrados}" colspan="3"></td>
								</tr>
								<tr th:each="processoPagamento,it : ${pagamentos}">
									<td th:text="${(it.index + 1)}"></td>
									<td th:text="${#temporals.format(processoPagamento.pagamento.dataVencimento, 'dd/MM/yyyy')}"></td>
									<td th:text="${processoPagamento.pagamento.valor}"></td>
								</tr>
							</tbody>
						</table>
	    			</div>
				</div>
   			</div>
    	</div>
    </body>
</html>