<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div class="container medium"  layout:fragment="content">
  		<h4 th:text="#{label.titulo.cadastro.aluno}"></h4>
   		<div class="content">
   			<form method="post" th:action="@{'/aluno/' + ${aluno.id} + '/processos/'}" th:object="${processo}">
				<div class="form-row">
					<div class="form-cel-30">
					    <label class="components-form" th:text="#{label.matricula}">:</label> 
						<input type="text" th:field="${aluno.matricula}" disabled="disabled" class="components-form" style="width: 95%;"/>
					</div>
					<div class="form-cel-70">
					    <label class="components-form"  th:text="#{label.nome}">:</label> 
						<input type="text" th:field="${aluno.nome}" disabled="disabled" class="components-form" autocomplete="off"  style="width: 97%;"/>
					</div>
				</div>
				<div class="form-row">
					<div class="form-cel-30">
					    <label class="components-form" th:text="#{label.servico}">:</label> 
					    <select class="components-form" style="width: 95%;" th:field="*{servico}">
					    	<option th:each="servico : ${T(br.com.cfc.gestor.model.enuns.ServicoEnum).values()}" th:value="${servico}" th:text="${servico.descricao}"></option>
					    </select>
					</div>
					<div class="form-cel-30">
					    <label class="components-form"  th:text="#{label.categoria}">:</label> 
					    <select class="components-form" style="width: 95%;" th:field="*{categoria}">
					    	<option th:each="categoria : ${T(br.com.cfc.gestor.model.enuns.CategoriaEnum).values()}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
					    </select>
					</div>
					<div class="form-cel-30">
					    <label class="components-form"  th:text="#{label.renach}">:</label> 
					    <input type="text" class="components-form"  autocomplete="off" style="width: 97%;" th:field="*{renach}"/>
					</div>
				</div>
				<div class="form-row" style="height: 156px;">
					<div class="form-cel-100">
						<label class="components-form" th:text="#{label.observacoes}">:</label> 
						<textarea rows="10" cols="30" style="width: 100%;" th:field="*{observacao}"></textarea>
					</div>
				</div>
				<div class="form-row">
					<div class="form-control" style="float: right;padding: 10px;">
						<input type="submit" th:value="#{label.btn.gravar}">
					</div>
				</div>
				<!-- <div class="form-row">
						<div class="form-cel-100">
							<label class="components-form">Valor total:</label> 
							<input id="valorTotal" type="text">
						</div>
					</div>
               		<div class="form-row">
						<div class="form-cel-20">
							<label class="components-form">Tipo de pagamento:</label> 
							<select id="tipoPagamento" class="components-form" style="width: 95%;">
						    	<option th:each="tipoPagamento : ${T(br.com.cfc.gestor.model.enuns.TipoPagamentoEnum).values()}" 
						    	        th:value="${tipoPagamento}" th:text="${tipoPagamento.descricao}"
						    	        th:selected="${tipoPagamento == CARNE}"></option>
							</select>
						</div>
						<div class="form-cel-20">
							<label class="components-form">Forma de pagamento:</label> 
							<select id="formaPagamento" class="components-form" style="width: 95%;">
								<option th:each="formaPagamento : ${T(br.com.cfc.gestor.model.enuns.FormaDePagamentoEnum).values()}" 
								        th:value="${formaPagamento}" th:text="${formaPagamento.descricao}"
								        th:selected="${formaPagamento == A_VISTA}"></option>
							</select>
						</div>
						<div class="form-cel-20">
							<label class="components-form">Número de parcelas:</label> 
							<input id="quantidade" type="text" style="width: 90%;">
						</div>
						<div class="form-cel-30">
							<label class="components-form">Valor parcela:</label> 
							<div>
								<input id="valorParcela" type="text">
								<button id="btnGerarPagamento">Gerar</button>
							</div>
						</div>
					</div>
               
               		<table id="tb-pagamentos" style="width: 100%; margin-bottom: 20px; margin-top: 20px;">
						<thead>
							<tr>
								<th th:text="#{label.parcela}"/>
								<th th:text="#{label.vencimento}"/>
								<th th:text="#{label.tipo.pagamento}"/>
								<th th:text="#{label.forma.pagamento}"/>
								<th th:text="#{label.valor}"/>
								<th th:text="#{label.status}"/>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${pagamentos == null || pagamentos.empty}">
								<td colspan="6" th:text="#{label.msg.registros.nao.encontrados}"></td>
							</tr>
							<tr th:each="pagamento,iter : ${pagamentos}">
								<td th:text="${iter.index}"></td>
								<td th:text="${pagamento.dataVencimento}"></td>
								<td th:text="${pagamento.tipoPagamento.descricao}"></td>
								<td th:text="${pagamento.formaPagamento.descricao}"></td>
								<td th:text="${pagamento.valor}"></td>
								<td th:text="${pagamento.dataPagamento == null ? 'Pendente' : 'Pago'}"></td>
							</tr>
						</tbody>
					</table>
               </div> -->
			</form>
   		</div>
   	</div>
</body>
</html>