<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<body>
	<div class="page-content" layout:fragment="content" style="width: 100%;">
		<div id="mycard">
			<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 63%;">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">Processo</h2>
				</div>
				<div class="mdl-card__supporting-text">
					<div class = "mdl-tabs mdl-js-tabs">
               <div class = "mdl-tabs__tab-bar">
                  <a href = "#tab1-panel" class = "mdl-tabs__tab is-active">Dados do processo</a>
                  <a href = "#tab2-panel" class = "mdl-tabs__tab">Pagamentos</a>
               </div>
            
               <div class = "mdl-tabs__panel is-active" id = "tab1-panel">
					<form method="post" th:action="@{'/aluno/' + ${aluno.id} + '/processos/'}" th:object="${processo}">
						<div class="form-row">
							<div class="form-cel-30">
							    <label class="components-form">Matrícula:</label> 
								<input type="text" th:field="${aluno.matricula}" disabled="disabled" class="components-form" style="width: 95%;"/>
							</div>
							<div class="form-cel-70">
							    <label class="components-form">Nome:</label> 
								<input type="text" th:field="${aluno.nome}" disabled="disabled" class="components-form" autocomplete="off"  style="width: 97%;"/>
							</div>
						</div>
						<div class="form-row">
							<div class="form-cel-30">
							    <label class="components-form">Serviço:</label> 
							    <select class="components-form" style="width: 95%;" th:field="*{servico}">
							    	<option th:each="servico : ${T(br.com.cfc.gestor.model.enuns.ServicoEnum).values()}" th:value="${servico}" th:text="${servico.descricao}"></option>
							    </select>
							</div>
							<div class="form-cel-30">
							    <label class="components-form">Categoria:</label> 
							    <select class="components-form" style="width: 95%;" th:field="*{categoria}">
							    	<option th:each="categoria : ${T(br.com.cfc.gestor.model.enuns.CategoriaEnum).values()}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
							    </select>
							</div>
							<div class="form-cel-30">
							    <label class="components-form">Renach:</label> 
							    <input type="text" class="components-form"  autocomplete="off" style="width: 97%;" th:field="*{renach}"/>
							</div>
						</div>
						<div class="form-row">
							<div class="form-cel-100">
								<label class="components-form">Observaçoes:</label> 
								<textarea rows="10" cols="30" style="width: 100%;" th:field="*{observacao}"></textarea>
							</div>
						</div>
						<div class="form-row">
							<div class="form-control" style="float: right;padding: 10px;">
							    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
								  Salvar
								</button>
							    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
								  Limpar
								</button>
							</div>
						</div>
					</form>
               </div>
               <div class = "mdl-tabs__panel" id = "tab2-panel">
               		
					<div class="form-row">
						<div class="form-cel-100">
							<label class="components-form">Valor total:</label> 
							<input id="valorTotal" type="text">
						</div>
					</div>
               		<div class="form-row">
						<div class="form-cel-20">
							<label class="components-form">Tipo de pagamento:</label> 
							<select id="tipoPagamento" class="components-form" style="width: 95%;">
						    	<option th:each="tipoPagamento : ${T(br.com.cfc.gestor.model.enuns.TipoPagamentoEnum).values()}" 
						    	        th:value="${tipoPagamento}" th:text="${tipoPagamento.descricao}"
						    	        th:selected="${tipoPagamento == CARNE}"></option>
							</select>
						</div>
						<div class="form-cel-20">
							<label class="components-form">Forma de pagamento:</label> 
							<select id="formaPagamento" class="components-form" style="width: 95%;">
								<option th:each="formaPagamento : ${T(br.com.cfc.gestor.model.enuns.FormaDePagamentoEnum).values()}" 
								        th:value="${formaPagamento}" th:text="${formaPagamento.descricao}"
								        th:selected="${formaPagamento == A_VISTA}"></option>
							</select>
						</div>
						<div class="form-cel-20">
							<label class="components-form">Número de parcelas:</label> 
							<input id="quantidade" type="text" style="width: 90%;">
						</div>
						<div class="form-cel-30">
							<label class="components-form">Valor parcela:</label> 
							<div>
								<input id="valorParcela" type="text">
								<button id="btnGerarPagamento">Gerar</button>
							</div>
						</div>
					</div>
               
               		<table id="tb-pagamentos" class="mdl-data-table mdl-js-data-table" style="width: 100%; margin-bottom: 20px; margin-top: 20px;">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric">Parcela</th>
								<th class="mdl-data-table__cell--non-numeric">Vencimento</th>
								<th class="mdl-data-table__cell--non-numeric">Tipo de pagamento</th>
								<th class="mdl-data-table__cell--non-numeric">Forma de pagamento</th>
								<th class="mdl-data-table__cell--non-numeric">Valor</th>
								<th class="mdl-data-table__cell--non-numeric">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${aluno.processos == null || aluno.processos.empty || aluno.processos.pagamentos == null || aluno.processos.pagamentos.empty}">
								<td class="mdl-data-table__cell--non-numeric" colspan="6">O aluno não possui nenhum processo.</td>
							</tr>
							<tr th:each="processo : ${aluno.processos}">
								<td class="mdl-data-table__cell--non-numeric" th:text="${processo.servico.descricao}"></td>
								<td class="mdl-data-table__cell--non-numeric" th:text="${processo.categoria.descricao}"></td>
								<td class="mdl-data-table__cell--non-numeric">
									<span th:each="${veiculo : ${processo.veiculos}}" th:text="${veiculo}"></span>
								</td>
							</tr>
						</tbody>
					</table>
               </div>
            </div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>