<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

    <body>
    	<div class="container w_medium h_big"  layout:fragment="content">
  			<h4 th:text="#{label.menu.contratos}"></h4>
   			<div class="content">
   				<div class="form-row">
   					<div class="form-cel-20">
   						<a class="btn" th:text="#{label.secao.novo}" th:href="@{/secao/new}"></a>	
   					</div>
   				</div>
	    		<div class="form-row">
	    			<div class="form-cel-100">
	    				<table style="width: 60%; margin-left:20%; margin-bottom: 20px;">
							<thead>
								<tr>
									<th th:text="#{label.codigo}"></th>
									<th th:text="#{label.secao}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${secoes == null || secoes.empty}">
									<td th:text="#{label.msg.registros.nao.encontrados}" colspan="3"></td>
								</tr>
								<tr th:each="secao : ${secoes}">
									<td th:text="${secao.id}"></td>
									<td th:text="${secao.descricao}"></td>
								</tr>
							</tbody>
						</table>
	    			</div>
				</div>
   			</div>
    	</div>
    </body>
</html>